.prdct-grid .item {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 10px;
}

.prdct-grid {
  min-height: 500px;
}
.product-fade-wrap img {
  max-height: 100%;
}
.btn.btn-to-cart{
  text-align: center;
  float:none;
  margin-top:10px;
}
.catBlocks .prdct-grid .item a {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 34px;
  height: 100%;
align-items: center;
}
.catBlocks .category-images {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,62,114,1) 54%, rgba(0,212,255,1) 100%);
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,0.7959383582534576) 0%, rgba(64,62,114,0.964005585144214) 99%);
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
.menu-item a {
  text-transform: uppercase;
  font-weight: 600 !important;
}
.blog-inner {
  box-shadow: 0px 0px 3px #ccc;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 332px;
}
.blog-inner .img-responsive {
  max-height: 230px;
  width: 100%; 
  object-fit: cover;
}